

Label.normal{
    -fx-background-color: rgb(0, 183, 255);
}

Label.second{
    -fx-background-color: rgb(0, 74, 103);
}

Label.second{
    -fx-background-color: rgb(0, 30, 42);
}

Border{
    -fx-background-color: black;
    -fx-pref-width: 200px;

}

Border VBox,DialogPane VBox,#dialog VBox{
   -fx-alignment: center;
}

DialogPane{
    -fx-background-color: white;
 
}
Border JFXButton{
    -fx-pref-width: 200;
    -fx-pref-height: 90;
    -fx-background-color: #E14312;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 14pt;
}

DialogPane JFXButton{
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-background-color: #E14312;
    -fx-text-fill: white;
}

TextField{
    -fx-border-color: #E14312;
    -fx-border-insets: 0 0 1 0;
    -fx-pref-height: 50;
    -fx-min-width: 150; -fx-pref-width: 200; -fx-max-width: 200;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

DialogPane Group Label{
    -fx-translate-y: -10;
    -fx-text-fill:#E14312;
}

DialogPane Group{
   -fx-alignment: center;
}



Border Label{
    -fx-text-fill: #E14312;
}

Border ListView{
    -fx-translate-y: 170;
    -fx-background-color: black;
    -fx-text-fill: white;
}


Border ListView *{
    -fx-background-color: black;
    -fx-text-fill: white;
}

Border ListView Label{
    -fx-translate-x: 10;
    -fx-translate-y: -5;
}

Border Hbox{
   -fx-alignment: center;
}

Blocos{
    -fx-pref-width: 40;
    -fx-pref-height: 80;
    -fx-max-width: 80;
    -fx-max-height: 40;
}

 Circle{
    -fx-effect: dropshadow(three-pass-box,#000000,8,0.1,1,1);
}

Actores Circle{
    -fx-effect: dropshadow(three-pass-box,#0000007f,8,0.1,1,1);
}

Tabuleiro{
    -fx-max-width: 800;
    -fx-max-height: 500;
    -fx-background-color: linear-gradient(aqua,rgb(0, 213, 255));
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box,#0000002d,8,0.5,1,1);
    -fx-border-color: transparent;
}

.fundo{
    -fx-background-repeat: repeat;
    -fx-background-color: green;
}

#dialog{
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
}

#dialog Label{
    -fx-text-fill: rgb(255, 136, 0);
    -fx-font-size: 13pt;
    -fx-wrap-text: true;
}
