

Label.normal{
    -fx-background-color: rgb(0, 183, 255);
}

Label.second{
    -fx-background-color: rgb(0, 74, 103);
}

Label.second{
    -fx-background-color: rgb(0, 30, 42);
}

Border{
    -fx-background-color: black;
    -fx-pref-width: 200px;

}

Border JFXButton{
    -fx-pref-width: 200;
    -fx-pref-height: 90;
    -fx-background-color: #E14312;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 14pt;
}
Border Hbox{
   -fx-alignment: center;
}

Blocos{
    -fx-pref-width: 40;
    -fx-pref-height: 80;
    -fx-max-width: 80;
    -fx-max-height: 40;
}

 Circle{
    -fx-effect: dropshadow(three-pass-box,#000000,8,0.1,1,1);
}

Actores Circle{
    -fx-effect: dropshadow(three-pass-box,#0000007f,8,0.1,1,1);
}

Tabuleiro{
    -fx-max-width: 800;
    -fx-max-height: 500;
    -fx-background-color: linear-gradient(aqua,rgb(0, 213, 255));
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box,#0000002d,8,0.5,1,1);
    -fx-border-color: transparent;
}

.fundo{
    -fx-background-repeat: repeat;
    -fx-background-color: green;
}

Dialog.active{
    -fx-background-color: #ffffff;
}

Dialog.active Label{
    -fx-text-fill: rgb(255, 136, 0);
    -fx-font-size: 13pt;
}
